<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AiGouWu.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <!--<connectionStrings>
    <add name="MyB2CDbConnectionString" connectionString="server=.\sqlexpress;database=MyB2CDb;Trusted_Connection=SSPI;integrated security=true"
      providerName="System.Data.SqlClient" />
  </connectionStrings>-->
    <connectionStrings>
        <add name="MyB2CDbConnectionString" connectionString="server=qds113331576.my3w.com;database=qds113331576_db;uid=qds113331576;pwd=287453137;"
             providerName="System.Data.SqlClient" />
    </connectionStrings>
    
  <location path="Admin">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Admin/Images">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
    
  </location>

  <location path="Admin/valicode.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>

  </location>
  <system.web>
      <customErrors mode="Off"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Admin/Login.aspx" name="HotelUser" defaultUrl="~/Admin/Default.aspx"></forms>
    </authentication>
  

    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        validate="false" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
   
    
   
  </system.web>

  <appSettings>
    <add key="FCKeditor:BasePath" value="~/Admin/fckeditor/" />
    <add key="FCKeditor:UserFilesPath" value="~/Admin/upload/" />
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
  </system.webServer>
 
  <applicationSettings>
    <AiGouWu.Properties.Settings>
      <setting name="AiGouWu_WebAutoSearch_AutoSearchKeyWords" serializeAs="String">
        <value>http://localhost:55419/AutoSearchKeyWords.asmx</value>
      </setting>
      <setting name="AiGouWu_NewsAuto_NewsAutoSearch" serializeAs="String">
        <value>http://localhost:55419/NewsAutoSearch.asmx</value>
      </setting>
    </AiGouWu.Properties.Settings>
  </applicationSettings>
</configuration>